a { display:inline }
body { background:#f5f5f5 }
table { border-collapse: collapse }
.mt20 { margin-top:20px }
.ml5 { margin-left:5px }
.mr5 { margin-right:5px }
.ftx01 { color: #e4393c }
.ftx02 { color: #71b247 }
.ftx03 { color: #999 }
.ftx04 { color: #ff6c00 }
.ftx05 { color: #005ea7 }
.user_top { width:100%; background:#e45050 }
.search_content { float:right; margin:25px 10px 0 0 }
.search_main { border:0 }
.search_main .search_btn { background:#f7f7f7; color:#666 }
.search_main .search_input { width:140px }
.logo_main { padding:10px 0 }
.navitems { float:left; height:36px; width:342px; line-height:36px; padding:22px 0; margin:0 0 0 100px; font-size:14px}
.navitems li { float:left; margin-right:20px }
.navitems li.fore-3 { margin:0 }
.navitems a { color:#fff; position:relative }
.navitems .dl { position:relative }
.navitems .dl .dt { white-space:nowrap; height:18px; line-height:18px; width:74px; padding:9px 16px }
.navitems .dl .dt span { color:#fff }
.navitems .dl .dt b { display:inline-block; vertical-align:middle; width:9px; height:6px; overflow:hidden; margin-left:5px; background:url(../img/icon.png) 0 -120px no-repeat; -webkit-transition: transform .2s ease-in 0s; -webkit-transition: -webkit-transform .2s ease-in 0s; transition: -webkit-transform .2s ease-in 0s; transition: transform .2s ease-in 0s; transition: transform .2s ease-in 0s,-webkit-transform .2s ease-in 0s }
.navitems .dl .dd { position:absolute; top:34px; left:0; display:none; background-color:#fff; border:1px solid #ddd; border-top:0; font-size:12px }
.navitems .dl .dd a { display:block; text-decoration:none; width:88px; line-height:30px; padding:0 0 0 16px }
.navitems .dl .dd a:hover { background:#f5f5f5; color:#e4393c }
.navitems a i { display:block; position:absolute; font-family:verdana; color:#333; text-align:center; overflow:hidden; transition:transform .2s ease-in 0 0 .2s ease-in 0; border-radius:9px 9px 9px 0; background-color:#fff; left:28px; top:-15px; height:18px; line-height:18px; font-style:normal; padding:0 5px }
.navitems .hover { z-index:10 }
.navitems .hover a { color:#333 }
.navitems .hover .dt { background-color:#fff; border:1px solid #ddd; border-bottom:0; box-shadow:0 3px 5px rgba(153, 153, 153, .5); padding:8px 15px }
.navitems .hover .dt span { color:#333 }
.navitems .hover .dt b { background-position:0 -135px; -webkit-transform:rotate(180deg); transform:rotate(180deg) }
.navitems .hover .dd { display:block }
.content { padding:20px 0 0 120px }
.sub { float: left; width: 120px; position: relative; left: -120px }
.main { float: left; width: 99.9%; margin-left: -120px; overflow: hidden }
.menu { width: 100px; padding-left: 10px }
.menu dl { padding-bottom: 15px }
.menu dl dt { height: 28px; line-height: 28px; color: #333; font-weight: 700 }
.menu dl dd { color: #666; line-height: 24px }
.menu dl dd a { color: #777 }
.menu dl dd.curr a { color: #e4393c; font-weight: 700 }
.menu dl dd a:hover { color: #e4393c; text-decoration: underline }
.myfollow-hd { width: 100%; margin-bottom: 24px; background: #fff; height:60px }
.tab-trigger { width: 1048px; float: left; height: 22px; margin-top: 19px; padding-left:20px }
.tab-trigger li { position: relative; float: left; height: 22px; line-height: 22px; margin-right: 20px }
.tab-trigger li a { display: inline-block; padding: 0 2px; vertical-align: top; font-size:12px; line-height:22px; color: #333; cursor: pointer }
.tab-trigger li.curr a { padding-top: 2px; height: 18px; line-height: 18px; border-bottom: 2px solid #e4393c; font-weight: 700; color: #e4393c }
.myfollow-bd { width: 100%; background: #fff; min-height: 700px; _height: 700px }
.myfollow-main { padding: 20px; margin-bottom: 30px }
.mf-goods-list { width: 1068px; margin-right: -20px }
.mf-goods-item { position: relative; float: left; width: 245px; height: 316px; border: 1px solid #eee; margin: 0 20px 20px 0; padding-top:20px; overflow: hidden }
.mf-goods-item .p-img { position: relative; width: 100%; height: 160px; margin-bottom: 18px }
.mf-goods-item .p-img a { display: block; width: 160px; height: 160px; margin: 0 auto }
.mf-goods-item .p-name { height: 22px; line-height: 22px; padding: 0 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center }
.mf-goods-item .p-price { height: 22px; line-height: 22px; padding: 0 10px; overflow: hidden; text-align: center; color: #333; font-family: verdana; font-weight: 700 }
.mf-goods-item .p-price strong { font-size: 14px; line-height: 22px }
.mf-goods-item .p-stats { width: 100%; height: 20px; margin-top:21px; padding: 9px 0 8px; border-top: 1px solid #eee; overflow: hidden }
.mf-goods-item .p-comment { float: left; width: 100%; height: 14px; overflow: hidden; text-align: center }
.mf-goods-item .p-comment i { width: 12px; height: 11px; margin-top: 2px; display: inline-block; margin-right: 5px; vertical-align: top; background: url(../img/sprite-icon.png) 0 -120px no-repeat }
.mf-goods-item .p-comment em { display: inline-block; height: 14px; vertical-align: top; color: #999 }
.mf-goods-item .p-operate { width: 246px; height: 36px; line-height: 36px; overflow: hidden }
.mf-goods-item .op-btn { width:50%; height: 34px; line-height: 34px; text-align: center; float: left; margin-left: -2px; border: 1px solid #eee; background: #f9f9f9 }
.mf-goods-item .op-btn { display: inline-block; cursor: pointer; height: 34px; line-height: 34px; padding: 0; border: 1px solid #eee; background: #f9f9f9 }
.mf-goods-item .op-btn i { margin-top: 9px; margin-right: 5px; width: 18px; height: 16px; display: inline-block; background: url(../img/sprite-icon.png) no-repeat }
.mf-goods-item .op-btn em { height: 34px; display: inline-block; vertical-align: top }
.mf-goods-item .btn-cart i { background-position: -40px -40px }
.mf-goods-item .btn-cart:hover i { background-position: -20px -40px }
.mf-goods-item .btn-focus i { background-position: 1px -58px }
.mf-goods-item .btn-focus:hover i { background-position: -19px -58px }
.mf-goods-item .item-delete-tip { display: none; position: absolute; left: 0; top: 0; z-index: 3; width: 100%; height: 100%; text-align: center; background: rgba(255,255,255,.85); filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#D9ffffff', endColorstr='#D9ffffff') }
.mf-goods-list .z-delete-tip .item-delete-tip { display: block }
:root .mf-goods-item .item-delete-tip, :root .mf-goods-item .p-state { -webkit-filter: none\9!important; filter: none\9!important }
.mf-goods-item .item-delete-tip .tip-main { display: inline-block; padding-left: 42px; padding-top: 123px; font-size: 0 }
.mf-goods-item .item-delete-tip .tip-icon { display: inline-block; width: 32px; height: 32px; margin-left: -42px; margin-right: 10px; vertical-align: middle; background: url(../img/sprite-tip.png) -120px -60px no-repeat }
.mf-goods-item .item-delete-tip .tip-title { display: inline-block; font-size: 16px; line-height: 24px; vertical-align: middle }
.mf-goods-item .item-delete-tip .tip-btnbox { position: absolute; left: 0; bottom: 0; width: 100%; height: 35px; overflow: hidden }
.mf-goods-item .item-delete-tip .tip-btnbox a { float: left; width: 50%; height: 35px; line-height: 35px; text-align: center }
.mf-goods-item .item-delete-tip .tip-btnbox .btn-sure { background: #e45050; color: #fff }
.mf-goods-item .item-delete-tip .tip-btnbox .btn-cancle { background: #f6f5f5; color: #666 }
.tip-main { text-align:center; padding: 100px 0; font-size: 0; margin:0 auto }
.tip-info { display: inline-block; font-size: 12px; vertical-align: middle }
.tip-title { font-size:14px; line-height:28px; color: #666 }
.tip-btnbox { padding-top: 5px }
.btn-primary, div.dialog-confirm .ui-dialog-btn-submit { display: inline-block; text-align: center; cursor: pointer; color: #fff; border-radius: 3px; background-color: #df3033; background-image: -moz-linear-gradient(top,#df3033,#e74649); background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#df3033),color-stop(1,#e74649)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#df3033', endColorstr='#e74649', GradientType='0'); -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#df3033', endColorstr='#e74649'); background-image: linear-gradient(to bottom,#df3033 0,#e74649 100%) }
.btn-primary:hover, div.dialog-confirm .ui-dialog-btn-submit:hover { color: #fff; background-color: #eb3c3f; background-image: -moz-linear-gradient(top,#eb3c3f,#f05356); background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#eb3c3f),color-stop(1,#f05356)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb3c3f', endColorstr='#f05356', GradientType='0'); -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb3c3f', endColorstr='#f05356'); background-image: linear-gradient(to bottom,#eb3c3f 0,#f05356 100%) }
.btn-primary { height: 25px; line-height: 25px; padding: 0 15px }
.shop-item { position: relative; border: 1px solid #eee; margin-bottom: 20px; overflow: hidden }
.shop-item .item-inner { position: relative; width: 786px; padding-left: 260px; overflow: hidden }
.shop-item .shop-info { float: left; width: 259px; height:179px; border-right: 1px solid #eee; margin-left: -260px }
.shop-item .shop-btnbox { position: absolute; left: 0; bottom: -1px; width: 260px; height: 36px; overflow: hidden }
.shop-item .shop-info a { width: 129px; height: 34px; line-height: 34px; padding: 0; border: 1px solid #eee; background: #f9f9f9; float: left; margin-left: -1px; overflow: hidden; display: inline-block; text-align: center; cursor: pointer }
.shop-item .shop-info i { display: inline-block; background: url(../img/sprite-icon.png) no-repeat }
.shop-item .shop-enter i { width: 15px; height: 14px; background-position: 0 -200px; display: inline-block; vertical-align: top; margin-right:5px; margin-top:10px }
.shop-item .shop-enter:hover i { background-position: -20px -200px }
.shop-item .unfollow_btn i { width: 18px; height: 16px; margin-top: 9px; vertical-align: top; margin-right: 5px; background-position: 1px -58px }
.shop-item .unfollow_btn:hover i { background-position: -19px -58px }
.shop-item .p-stats { width: 100%; height: 20px; padding: 9px 0 8px; border-top: 1px solid #eee; overflow: hidden }
.shop-item .p-comment { float: left; width: 100%; text-align: center }
.shop-item .p-comment i { width: 18px; height: 16px; margin-top: 3px; display: inline-block; margin-right: 5px; vertical-align: top; background: url(../img/sprite-icon.png) -59px -60px no-repeat }
.shop-item .p-comment em { display: inline-block; height: 14px; vertical-align: top; color: #999 }
.shop-text { padding:20px; font-size:13px; line-height:22px }
.goods-list { margin-left:23px }
.shop-item .goods-list li { float: left; display: list-item; width: 130px; height: 144px; margin: 17px 22px 0 0; text-align: center }
.shop-item .goods-list .p-img { width: 100%; height: 100px; margin-bottom: 20px; text-align: center }
.shop-item .goods-list .p-img img { width: 100px; height: 100px; vertical-align: top }
.shop-item .goods-list .p-price { width: 100%; height: 24px; line-height: 24px; color: #333; font-size: 14px }
.shop-item .goods-list .p-price strong { font-weight: 400; font-family: verdana }
.shop-item .item-delete-tip { display: none; position: absolute; left: 0; top: 0; z-index: 3; width: 100%; height: 100%; text-align: center; background: rgba(255,255,255,.85); filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#D9ffffff', endColorstr='#D9ffffff') }
.shop-item.z-delete-tip .item-delete-tip { display: block }
:root .shop-item .item-delete-tip, :root .shop-item .p-state { -webkit-filter: none\9!important; filter: none\9!important }
.shop-item .item-delete-tip .tip-main { display: inline-block; padding-left: 42px; padding-top: 60px; font-size: 0 }
.shop-item .item-delete-tip .tip-icon { display: inline-block; width: 32px; height: 32px; margin-left: -42px; margin-right: 10px; vertical-align: middle; background: url(../img/sprite-tip.png) -120px -60px no-repeat }
.shop-item .item-delete-tip .tip-title { display: inline-block; font-size: 16px; line-height: 24px; vertical-align: middle }
.shop-item .item-delete-tip .tip-btnbox { position: absolute; left: 0; bottom: 0; width: 100%; height: 35px; overflow: hidden }
.shop-item .item-delete-tip .tip-btnbox a { float: left; width: 50%; height: 35px; line-height: 35px; text-align: center }
.shop-item .item-delete-tip .tip-btnbox .btn-sure { background: #e45050; color: #fff }
.shop-item .item-delete-tip .tip-btnbox .btn-cancle { background: #f6f5f5; color: #666 }
.user-set { width:1069px; float:left; background-color: #fff; padding: 20px 5px 20px 15px }
.user-set .item { margin-bottom: 20px; line-height: 30px; width:100%; display:inline-block }
.user-set .item span.label { float: left; height: 18px; line-height: 18px; padding: 6px 0; width: 100px; text-align: right }
.user-set .item .itxt { line-height: 18px; border: 1px solid #ccc; height: 18px; width: 127px; padding: 5px 23px 5px 5px; font-size: 12px }
.user-set .item .itxt-error { border-color: #e4393c; color: #e4393c; background: url(../img/error-ico.png) right center no-repeat }
.user-set .item .prompt-error { clear: both; margin-top: 5px; color: #e4393c; line-height: 18px }
.user-set .item em { color: #e4393c }
.user-set .selt { width: 70px; height: 23px; line-height: 18px; border: 1px solid #ccc; padding: 5px; font-size: 12px }
.btn-5, .btn-6, .btn-7, .btn-8 { background-color: #f5fbef; background-image: -moz-linear-gradient(top,#f5fbef,#eaf6e2); background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f5fbef),color-stop(1,#eaf6e2)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5fbef', endColorstr='#eaf6e2', GradientType='0'); -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5fbef', endColorstr='#eaf6e2'); background-image: linear-gradient(to bottom,#f5fbef 0,#eaf6e2 100%); border-radius: 2px; display: inline-block; height: 18px; line-height: 18px; border: 1px solid #bfd6af; padding: 2px 14px 3px; color: #323333 }
.btn-5:hover, .btn-6:hover, .btn-7:hover, .btn-8:hover { background-color: #f6fbf3; background-image: -moz-linear-gradient(top,#f6fbf3,#eef7e8); background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f6fbf3),color-stop(1,#eef7e8)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6fbf3', endColorstr='#eef7e8', GradientType='0'); -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6fbf3', endColorstr='#eef7e8'); background-image: linear-gradient(to bottom,#f6fbf3 0,#eef7e8 100%) }
.btn-5:link, .btn-5:visited, .btn-6:link, .btn-6:visited, .btn-7:link, .btn-7:visited, .btn-8:link, .btn-8:visited { color: #323333; text-decoration: none }
.succ_icon { background-position: 0 0 }
.img-cont {position: relative; width: 470px; height: 236px; margin: 20px 0; display: table; text-align: center;background: #f9f9f9; border: 1px solid #e9eaec;}
.img-b { display: table-cell; vertical-align: middle; position: relative; z-index: 5 }
.user-bean-cont { padding:20px }
.user-bean-cont strong { font-size:16px; padding-left:5px }
.tb-void { line-height: 18px; text-align: center; border: 1px solid #f2f2f2; border-top: 0; color: #333; width: 100% }
.tb-void th { background: #f5f5f5; height: 32px; line-height: 32px; padding: 0 5px; text-align: center; font-weight: 400 }
.tb-void td { border: 1px solid #f2f2f2; padding: 10px 5px }
.rich-assets { padding: 50px 0 30px 30px }
.deposit_box { float:left }
.deposit-title { color: #474e5d; font-weight: 700; font-size: 16px }
.deposit-price { font-weight: 700; font-size: 24px; font-family: Tahoma; line-height: 1.2 }
.deposit-p-num { font-size: 50px }
.recharge_btn { display: inline-block; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; width: 218px; height: 42px; background-color: #e4393c; color: #fff; font-size: 16px; text-align: center; line-height: 42px; float: right; margin: 20px 40px 0 0 }
.recharge_btn:hover { background-color: #f05356; color:#fff }
.mg-coupon { margin-top:10px }
.mg-time { display: inline-block; background-color: #f7f7f7; height: 20px; padding: 0 10px; border-radius: 1px; text-align: center; width: 125px; margin-left: -72px; position: relative; left: 50% }
.mg-box { margin-top: 10px; background-color: #f3f3f3; padding: 10px 20px; border: 1px solid #FFF }
.mg-box:hover { border: 1px solid #dbdbdb }
.mg-box.no-look { background-color: #fffcf2; border: 1px solid #f8ecca }
.mg-title { height: 32px; line-height: 32px; position: relative }
.mg-coupon .mg-title { border-bottom: 1px solid #d3d3d3 }
.mg-title s { display: block; height: 10px; width: 10px; position: absolute; right: -10px; top: 10px; background-image: url(../img/message.png); background-position: -68px -123px }
.mg-content { padding-top: 10px }
.layui-laypage { display:inline; zoom:1; vertical-align:middle; font-size:0; margin:10px 0 }
.layui-laypage > :first-child, .layui-laypage > :first-child em { border-radius:2px 0 0 2px }
.layui-laypage a, .layui-laypage span { display:inline; zoom:1; vertical-align:middle; border:1px solid #e2e2e2; height:28px; line-height:28px; background-color:#fff; color:#333; font-size:12px; margin:0 -1px 5px 0; padding:8px 15px }
.layui-laypage em { font-style:normal }
.layui-laypage span { color:#999; font-weight:700 }
.layui-laypage .layui-laypage-curr em { position:relative; color:#fff; font-weight:400 }
.layui-laypage .layui-laypage-curr .layui-laypage-em { position:absolute; left:-1px; top:-1px; width:100%; height:100%; background-color:#009688; padding:1px }
.layui-laypage-em { border-radius:2px }
.layui-laypage-next em, .layui-laypage-prev em { font-size:16px }
.layui-laypage > :last-child, .layui-laypage > :last-child em { border-radius:0 2px 2px 0 }
.layui-laypage .layui-laypage-curr { position:relative }
.coupon-items { padding:0 0 0 20px }
.coupon-item { width:244px; float:left; margin:20px 20px 0 0; position:relative }
.coupon-item .c-type { position:relative; width:100%; height:70px; padding:30px 0 0; overflow:hidden; color:#fff; text-align:center; background-color:#74d2d4 }
.coupon-item .c-price { margin:0 0 5px; text-align:center; font-weight:400 }
.coupon-item .c-price em { font-family:verdana; font-size:24px; position:relative; top:-22px }
.coupon-item .c-price strong { line-height:50px; font-size:60px; font-family:Arial }
.coupon-item .c-type .c-type-top { position:absolute; width:40px; height:13px; top:0; left:50%; margin-left:-23px; background:url(../img/coupon.png) 0 -272px no-repeat }
.coupon-item .c-type .c-type-bottom { position:absolute; width:100%; height:3px; bottom:0; left:0; background:url(../img/coupon.png) 2px -302px no-repeat }
.coupon-item .c-msg { height:90px; padding:15px 0 0; background:#f9f9f9; overflow:visible }
.coupon-item .range-item { margin:0 0 10px }
.coupon-item .range-item .label { float:left; width:80px; display:inline; text-align:right }
.coupon-item .range-item .txt { float:left; width:144px; color:#999; overflow:hidden; white-space:nowrap }
.coupon-item-dgray .c-type { background-color:#c3c3c3 }
.coupon-item-dgray .c-type .c-type-bottom { background-position:0 -316px }
.goods-content { width: 100%; position: relative; overflow: hidden }
.p-line, .p-line-red { position:absolute; left:12px; top:20px; width:2px; height:100%; background:#d7d7d7 }
.p-line-red { height:0; _font-size:0; background:#f36863 }
.goods-item { margin:0 3px }
.goods-item .mt { position:relative; height:58px; line-height:30px; padding-left:46px; overflow:hidden; zoom:1 }
.goods-item .mt h2 { float:left; font-size:18px; font-weight:400 }
.goods-item .mt span { float:left; padding:2px 0 0 16px; font-size:12px; color:#999; cursor:pointer }
.goods-item .mt i { position:absolute; left:0; top:0; width:20px; height:38px; background:url(../img/p-line.jpg) no-repeat }
.goods-item .mc { position:relative; padding-left:42px; overflow:hidden; zoom:1 }
.goods-item ul { width:100%; padding-bottom:10px; overflow:hidden }
.goods-item li { float:left; position:relative; width:231px; height:310px; padding-top:8px; margin-right:20px; margin-bottom:20px; border:2px solid #fff; background:#fff; text-align:center; vertical-align:top }
.goods-item li:hover { border:solid 2px #d1d1d1 }
.goods-item .p-img { padding:8px 0; overflow:hidden }
.goods-item .p-price { height:30px; line-height:33px; font-size:18px; color:#333 }
.goods-item .p-price i { font-style:normal }
.goods-item .p-del { width:35px; height:35px; background:url(../img/p-del.png) no-repeat; position:absolute; top:0; right:0; cursor:pointer }
.good-bottom { width: 100%; padding-top: 60px; height: 100px; margin: 0 auto; text-align: center }
a.add-btn { display: inline-block; vertical-align: middle; font-weight: 700; padding: 0 14px; height: 28px; line-height: 28px; font-size: 14px; margin: 0 10px 0 0 }
.easebuy-m { border: 2px solid #e6e6e6; margin: 0 10px 10px 0; width:515px; float:left }
.easebuy-m .smt { padding-left: 10px; line-height: 35px; height: 35px; position: relative; display: block; overflow: visible }
.easebuy-m .smt h3 { float: left; color: #666 }
.easebuy-m .smt h3 .ftx04 { margin: 0 0 0 10px; font-size: 12px; background: #ffaa45; padding: 2px; color: #fff; font-weight: 400 }
.easebuy-m .smt .extra { float: right; margin: 0 10px 0 0 }
.easebuy-m .smt .extra a { color: #005ea7; margin: 0 0 0 20px }
.easebuy-m .smt .extra .del-btn { margin-top: 10px; display: inline-block; width: 13px; height: 13px; text-indent: 99em; background: url(../img/close.png) no-repeat; overflow: hidden; vertical-align: middle }
.easebuy-m .smc { padding: 10px; line-height: 22px }
.easebuy-m .smc .items { width:100%; position:relative }
.easebuy-m .smc .item-lcol { width: 450px; float: left }
.easebuy-m .smc .item span { float: left; width: 70px; color: #999; text-align: right }
.easebuy-m .smc .item-lcol .fll { width: 360px }
.easebuy-m .smc .item-rcol { width: 320px; float: left; padding-left: 10px; height: 100% }
.easebuy-m .smc .item-rcol .extra { position: absolute; right: 0; bottom: 0 }