<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lecshop.specvalue.mapper.SpecValueMapper">

    <resultMap id="specValue" type="com.lecshop.specvalue.bean.SpecValue" >
        <result column="id" property="id" />
        <result column="spec_id" property="specId" />
        <result column="name" property="name" />
        <result column="sort" property="sort" />
        <result column="del_flag" property="delFlag" />
        <result column="create_name" property="createName" />
        <result column="modify_name" property="modifyName" />
        <result column="del_name" property="delName" />
        <result column="create_time " property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="del_time" property="delTime" />
    </resultMap>


    <select id="querySpecValuesBySpecId" parameterType="java.lang.Long" resultMap="specValue">
        select * from ls_spec_value
        where del_flag = '0' AND  spec_id = #{specId} order by sort asc
    </select>

    <insert id="addSpecValues" parameterType="java.util.List">
        insert into ls_spec_value

        (id,spec_id, name, sort, del_flag,create_name,modify_name,del_name,create_time,modify_time,del_time)
        values
        <foreach collection="list" item="specvalue" index="index" separator=",">
            (
                #{specvalue.id},
                #{specvalue.specId},
                #{specvalue.name},
                #{specvalue.sort},
                #{specvalue.delFlag},
                #{specvalue.createName},
                #{specvalue.modifyName},
                #{specvalue.delName},
                #{specvalue.createTime},
                #{specvalue.modifyTime},
                #{specvalue.delTime}
            )
        </foreach>
    </insert>


    <insert id="addSpecValue" parameterType="java.util.List">
        insert into ls_spec_value

        (id,spec_id, name,sort, del_flag,create_name,create_time)
        values(
            #{id},
            #{specId},
            #{name},
            #{sort},
            #{delFlag},
            #{createName},
            #{createTime}
            )
    </insert>

    <update id="deleteBySpecId" parameterType="com.lecshop.specvalue.bean.SpecValue">
        update ls_spec_value
        <set >
            <if test="delFlag != null" >
                del_flag = #{delFlag},
            </if>
            <if test="delName != null" >
                del_name = #{delName},
            </if>
            <if test="delTime != null" >
                del_time = #{delTime}
            </if>
        </set>
        where spec_id = #{specId}
    </update>

    <delete id="deleteBySpecIdPhysics" parameterType="java.lang.Long">
        delete from ls_spec_value   where spec_id = #{specId}
    </delete>

</mapper>