<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lecshop.order.mapper.OrderSkuMapper">

    <resultMap id="orderSku" type="com.lecshop.order.bean.OrderSku">
        <result column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="sku_id" property="skuId"/>
        <result column="num" property="num"/>
        <result column="price" property="price"/>
        <result column="back_price" property="backPrice"/>
        <result column="fullprice_marketing_id" property="fullpriceMarketingId"/>
        <result column="marketing_id" property="marketingId"/>
        <result column="sku_price" property="skuPrice"/>
        <result column="sku_name" property="skuName"/>
        <result column="sku_no" property="skuNo"/>
        <result column="sku_image" property="skuImage"/>
        <result column="sku_specs" property="skuSpecs"/>
    </resultMap>


    <select id="queryByOrderId" parameterType="java.lang.Long" resultMap="orderSku">
        select * from ls_order_sku where order_id=#{orderId}
    </select>


    <select id="queryByOrderIdAndSkuId" parameterType="java.util.Map" resultMap="orderSku">
        select * from ls_order_sku where  order_id=#{orderId} and sku_id = #{skuId}
    </select>
</mapper>