<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lecshop.attention.mapper.AttentionMapper">

    <resultMap id="attention" type="com.lecshop.attention.bean.Attention">
        <result column="id" property="id"/>
        <result column="customer_id" property="customerId"/>
        <result column="spu_id" property="spuId"/>
        <result column="sku_id" property="skuId"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_time" property="createTime"/>
        <result column="sku_no" property="sku.skuNo"/>
        <result column="name" property="sku.name"/>
        <result column="price" property="sku.price"/>
        <result column="url" property="sku.url"/>
    </resultMap>


    <select id="queryAttentions" parameterType="java.util.Map" resultMap="attention">
        select ls_attention.*,ls_sku.sku_no, ls_sku.name ,ls_sku.price,  ls_sku.url from ls_attention join ls_sku on ls_attention.sku_id = ls_sku.id and ls_attention.del_flag = '0' and ls_sku.del_flag = '0'
        where ls_attention.customer_id = #{customerId}
        order by ls_attention.create_time desc
        limit #{startRowNum},#{pageSize}
    </select>

    <select id="queryAttentionCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from ls_attention join ls_sku on ls_attention.sku_id = ls_sku.id and ls_attention.del_flag = '0' and ls_sku.del_flag = '0'
        where ls_attention.customer_id = #{customerId}
    </select>
    <update id="cancelAttention" parameterType="com.lecshop.attention.bean.Attention">
        UPDATE ls_attention SET del_flag='1' WHERE customer_id=#{customerId} AND sku_id=#{skuId}
    </update>

</mapper>